//
//  config.xcconfig
//  Inventory
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// You would need an Apple Developer account to run this app on a physical device.
// Find your Team ID here: https://developer.apple.com/account#membership-details
// (Scroll down to Membership details → Team ID).
DEVELOPMENT_TEAM = XXXXXXXXXX

// These bundle identifiers must be globally unique. It's highly recommended
// to use a reverse of your own domain name to avoid collisions.
PRODUCT_BUNDLE_IDENTIFIER_DEBUG = com.example.zetavg.app.inventory.dev
PRODUCT_BUNDLE_IDENTIFIER_NIGHTLY = com.example.zetavg.app.inventory.stg
PRODUCT_BUNDLE_IDENTIFIER_RELEASE = com.example.zetavg.app.inventory

// These app names will be displayed on the home screen of the device.
APP_NAME_DEBUG = Inventory (Dev)
APP_NAME_NIGHTLY = Inventory (Nightly)
APP_NAME_RELEASE = Inventory

URL_SCHEME_DEBUG = zd-inv
URL_SCHEME_NIGHTLY = zn-inv
URL_SCHEME_RELEASE = zx-inv

// App version numbers.
MARKETING_VERSION = 0.01
CURRENT_PROJECT_VERSION = 10
